<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Blog</title>

    <link rel="stylesheet" href="/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                {% block page_title %}{% endblock %}
            </h1>
            <p class="subtitle">
                {% block page_subtitle %}{% endblock %}
            </p>
        </div>
    </section>
</body>
</html>